body {
    background-color: #CDCDCD;
}
/* header */
.header {
    width: 100%;
    height: 50px;
    background-color: rgba(47, 47, 47, 0.98);
}
.header .wrap {
    height: 100%;
    width: 620px;
    margin:0 auto;
}
.header .wrap .logo {
    float: left;
    width: 100px;
    height: 50px;
    font-size: 24px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    color: #fff;
}
.header .wrap input{
    float: right;
    width: 364px;
    height: 26px;
    margin-top: 12px;
    padding: 2px;
    padding-right: 10px;
    padding-left: 10px;
    outline: none;
    border-radius: 5px;
    border: 0;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.24), 0 1px 6px rgba(0, 0, 0, 0.45) inset;
}
/* content */
.content {
    width: 620px;
    margin: 0 auto;
}
.content .todolist,
.content .donelist {
    width: 100%;
    margin: 20px 0 20px;
    /* overflow: hidden; */
    
}
.content .todolist .todo_hd,
.content .donelist .done_hd {
    position: relative;
    height: 33px;
    font-size: 24px;
    margin-bottom: 20px;
    color: #000000;
    font-weight: 700;
}
.content .todolist .todo_hd span,
.content .donelist .done_hd span {
    position: absolute;
    top: 6px;
    right: 10px;
    height: 20px;
    background-color: #E6E6FA;
    font-size: 14px;
    border-radius: 20px;
    padding: 0 5px;
    line-height: 22px;
    text-align: center;
    font-weight: 400;
    color: #666666
}
.content .todo_bd li,
.content .done_bd li  {
    position: relative;
    width: 100%;
    height: 32px;
    padding: 0 45px;
    margin-bottom: 10px;
    border-left: 5px solid red;
    border-radius: 5px;
    background-color: #fff;
}
.content .done_bd li  {
    opacity: .5;
    border-left: 5px solid #629A9C;
}
.content .todo_bd li input,
.content .donelist .done_bd li input {
    position: absolute;
    top: 5px;
    left: 10px;
    width: 22px;
    height: 22px;
}
.content .todo_bd li p,
.content .donelist .done_bd li p {
    width: 100%;
    height: 100%;
    line-height: 32px;
}
.content .todo_bd li a,
.content .donelist .done_bd li a {
    position: absolute;
    top: 4px;
    right: 12px;
    width: 26px;
    height: 24px;
    border-radius: 24px;
    background-color: #aca6a6;
}
.content .todo_bd li a::after,
.content .donelist .done_bd li a::after {
    content: 'x';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 2px;
    color: #333;
    
}
/* footer */
.footer {   
    width: 100%;
    text-align: center;
}
